body {
    background-image: url("../images/computer.jpg");
    background-size: no-repeat;
    background-size: cover;
}

#container {
    width: 60%;
    max-width: 960px;
    background-color: #342a5e;
    margin: 0 auto;
    padding-bottom: 250px;
}

h1 {
    color: lightgray;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 50px;
}
.displays {
    margin: 0 auto;
    font-size: 1.5rem;
    color: darkgrey;
    text-align: center;
}

.displays:hover {
    border: solid 5px salmon;
}

#time {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0 auto;
    color: darkgrey;
    text-align: center;
}
#questiondisplay {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0 auto;
    color: darkgrey;
    text-align: center;
}

hr {
    border: solid 2px darkorchid ;
}
.clickit{
    box-sizing: border-box;
    width: 250px;
    margin: 0 auto;
    padding: 30px 50px;
    font-size: 2rem;
    display: block;
    background-color: darkblue;
    color: darkgrey;
    text-align: center;
}
.clickit:hover {
    border: solid 5px salmon;
}

#restart {
    display: none;
}
